.width-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  color: white;
  padding-top: 20px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.footer-block {
  text-align: center;
  padding-bottom: 10px;
}

.position-block {
  bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.footer-text {
  font-size: 18px;
}

.footer-icon {
  width: 30px;
}

.footer-more {
  top: 70%;
  right: 100px;
  font-size: 3rem;
  color: azure;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 1000px) {
  .width-footer {
    width: 100%;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer h2 {
    font-size: 16px;
  }

  .position-block {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 3px;
    margin-left: 3px;
    padding: 0px;
  }

  .footer-text {
    font-size: 12px;
  }
}
