
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-block{
        text-align: center;
        position: relative;
        padding-bottom: 10px;  
}

.position-block{
    bottom: 20px; 
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
}

.footer-text{
    font-size: 15px;
}

.footer-icon{
    width: 30px;
}

.footer-more{
    position: absolute;
    top: 70%;
    right: 100px;
    font-size: 3rem;
    color: azure;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

@media (max-width:1000px) {
    .container.mobile{
        width: 100%;
    }
    .footer{
    width: 100%;
    }

    .footer h2{
        font-size: 16px;
    }


    .position-block {
            bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
            padding: 10px;
    }
    
    .footer-text {
            font-size: 12px;
    }
}