*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
 background-color: #212529;
 background: #212529;
}

html {
  height: 100vh;
  width: 100%;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;  
  object-fit: cover;
  left: 0;
}

.main {
  transform: translateX(-100%);

}

.main.active {
  transform: translateX(0);
  width: 100%;
  height: 100vh;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
}

.main-content{
  height: 100vh;
  width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}


@media (max-width:1000px) {
  video {
    height: 100%;
  }
}
